schemas/interesovanje.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1">

    <xs:element name="interesovanje">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lokacija_vakcinisanja" type="xs:string"/>
                <xs:element minOccurs="0" name="davalac_krvi" type="xs:boolean"/>
                <xs:element name="licni_podaci" type="Licni_podaci"/>
                <xs:element name="datum" type="xs:date"/>
                <xs:element name="potpis" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Licni_podaci">
        <xs:sequence>
            <xs:element name="JMBG">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:pattern value="/^(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])[0-9]{9}$/"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="ime" type="xs:string"/>
            <xs:element name="prezime" type="xs:string"/>
            <xs:element name="email">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern
                            value="(?:[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*|&quot;(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*&quot;)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9]))\.){3}(?:(2(5[0-5]|[0-4][0-9])|1[0-9][0-9]|[1-9]?[0-9])|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
                        />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="mobilni_telefon">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:pattern value="06[0-9]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fiksni_telefon">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:pattern value="0[0-9]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="drzavljanstvo" type="Drzavljanstvo"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Drzavljanstvo">
        <xs:choice>
            <xs:element name="Drzavljanin_RS" type="xs:string"/>
            <xs:element name="Strani_sa_boravkom" type="xs:string"/>
            <xs:element name="Strani_bez_boravka" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Tip_Vakcine">
        <xs:choice>
            <xs:element name="Pfizer-BioNTech" type="xs:string"/>
            <xs:element name="Sputnik_V" type="xs:string"/>
            <xs:element name="Sinopharm" type="xs:string"/>
            <xs:element name="AstraZeneca" type="xs:string"/>
            <xs:element name="Moderna" type="xs:string"/>
            <xs:element name="Bilo_koja" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
