schemas/potvrda_o_vakcinisanju.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.1">

    <xs:element name="potvrda_o_vakcinaciji">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="licni_podaci" type="Licni_podaci"/>
                <xs:element name="zdravstvena_ustanova"/>
                <xs:element name="datum_izdavanja_potvrde"/>
                <xs:element name="qr_kod"/>
                <xs:element name="sifra_potvrde"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Licni_podaci">
        <xs:sequence>
            <xs:element name="ime" type="xs:string"/>
            <xs:element name="prezime" type="xs:string"/>
            <xs:element name="pol" type="Pol" maxOccurs="1" minOccurs="1"/>
            <xs:element name="JMBG">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:pattern value="/^(0[1-9]|[12][0-9]|3[01])(0[1-9]|1[012])[0-9]{9}$/"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pol">
        <xs:choice>
            <xs:element name="Musko"/>
            <xs:element name="Zensko"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Informacije_vakcine">
        <xs:sequence>
            <xs:element name="naziv_vakcine"/>
            <xs:element name="datum_prve_doze"/>
            <xs:element name="broj_serije"/>
            <xs:element name="datum_druge_doze"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
